/********************
 * Register
 ********************/
 .row {
    position:absolute;
    width: 100%;
    height: 100%;
}

.register-left img {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 649px;
    width: 680px;
}

.register-right {
    margin: 100px;
}

.register-right h3 {
    font-weight: bold;
}

.register-right button {
    background-color: #7126B5;
    border-color: #7126B5;
    margin-top: 16px;
}


@media screen and (max-width: 1023px) {
    .register-left {
      display: none; 
    }
    .register-right {
        margin: 110px 30px 0 50px;
    }
    .register-right p {
        padding-top: 90px;
    }
}

/********************
 * Header
 ********************/
.logo {
    width: 100px;
    height: 34px;
    background-color: #4B1979;
}

.navbar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

.search-icon {
    position: absolute;
    margin-left: 85%;
    margin-top: 7px;
    color: #8A8A8A;
}

.button-register {
    background: #7126B5;
    border-color: #7126B5;
    border-radius: 12px;
}

.icon-register {
    margin: 8px 10px 8px 0;
}

.icon-list-header, .icon-bell-header, .icon-user-header {
    margin: 5px;
    font-size: large;
}

.dropdown-toggle::after {
    display: none !important;
}

#off-canvas {
    width: 50%;
}

.title-navbar-mobile {
    font-weight: bold;
}

@media screen and (max-width: 1023px) {
    .logo {
        display: none;
    }

    .home-navbar {
        flex-direction: row-reverse;
        gap: 20px;
        background-color: white;
    }
}


/********************
 * Home
 ********************/

.home-carousel-bg {
    background: #FFE9CA;
}
  
.home-carousel-img {
    width: 80px;
    height: 80px;
}
  
.home-carousel-rating {
    max-height: 16px;
}
  
.home-carousel-name {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: black;
    line-height: 0px;
}

.home-carousel-media {
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f3ff;
    color: black;
    border-radius: 50%;
}

.home-carousel-media:hover {
    background-color: #04aa6d;
    color: white;
}



 

